"_note": "to apply snippet require reloading atom or press ctrl-alt-r"

".source":
  "BUG":
    prefix: "bug"
    body: "BUG"
  "NOTE":
    prefix: "note"
    body: "NOTE"
  "TODO":
    prefix: "todo"
    body: "TODO"

".source.js":
  "(() => {...})()":
    prefix: "iife"
    body: """
      (() => {

      })()"""
  "map(fcn(...))":
    prefix: "mapf"
    body: """
      map(function($1){
        $2
        return ;
      });"""

  "sort(fcn(...))":
    prefix: "sortf"
    body: """
      sort(function(${1:a}, ${2:b}){return $3;});"""

  "it('spec', ()=>{})":
    prefix: "it"
    body: """
      it('${1:spec description}', (done) => {
        done();
        $2
      });"""

  "import... export...":
    prefix: "init"
    body: """
      import React from 'react'

      const ${1:myComponent} = () => {
        return (
          <${2:div}></${2:div}>
        )
      }

      export default ${1:myComponent}"""

".source.coffee":
  "it('msg', ()->{})":
    prefix: "it"
    body: """
      it "${1:spec description}", ->
        ${2:foo()}"""

".source.java":
  "System.out.println()":
    prefix: "sout"
    body: "System.out.println(${1:\"\"});$2"

".source.php":
  ".'<br>'":
    prefix: "br"
    body: ".'<br>'"

".source.python":
  "__init__(self)":
    prefix: "init"
    body: """
      def __init__(self, ${1:arg}):
          self.${1:arg} ="""

  "if __name__ == '__main__'":
    prefix: "ifmain"
    body: """
      if __name__ == '__main__':
          ${1:foo()}"""

".source.gfm":
  "":    # fa-tag U+f02b
    prefix: "tag"
    body: ""
  "":    # fa-calendar U+f073
    prefix: "date"
    body: ""
  "":    # fa-linux U+f17c
    prefix: "linux"
    body: ""
  "":    # fa-windows U+f17a
    prefix: "windows"
    body: ""
  "":    # fa-apple U+f179
    prefix: "apple"
    body: ""
  "∴":     # U+2234
    prefix: "so (therefore)"
    body: "∴ "
  "∵":     # U+2235
    prefix: "bc (because)"
    body: "∵ "
  "✘":    # U+2718
    prefix: "x (cross)"  # alt: ❌ emoji U+274C
    body: "✘ "
# === === emoji
  "✅":    # emoji U+2705
    prefix: "v (check)"
    body: "✅ "
  "💡":    # emoji U+1F4A1
    prefix: "idea (bulb)"   # alt:  fa-lightbulb-o U+f0eb
    body: "💡 "
  "❓":    # emoji U+2753
    prefix: "question ?"  # alt: fa-question U+f128
    body: "❓ "
  "❗":     # emoji U+2757
    prefix: "exclamation !"
    body: "❗ "
  "⚠️":
    prefix: "warning"
    body: "⚠️ "
  "📌":     # emoji U+1F4CC
    prefix: "pin"
    body: "📌 "
  "🔖":    # emoji bookmark U+1F516
    prefix: "tag"
    body: "🔖"
  "📅":    # emoji U+1f4c5
    prefix: "calendar"
    body: "📅"
  "🐧":    # emoji U+1F427
    prefix: "linux"
    body: "🐧"
  "🏁":    # emoji U+1F3C1
    prefix: "windows"
    body: "🏁"
  "🍎":    # emoji U+1F34E
    prefix: "apple"
    body: "🍎"
